  .container-custom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .chart{
    background-color: silver;
    margin-top: 50px;
    width: 40%;
    height: auto;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }
  