.laporan{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.minichart{
    width: 15,5%;
    height: 16%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 20px;
    margin-bottom: -3px;
}
.data-tambah{
    padding: 20px;
}